$color-texto : #7f7f7f;
$rojo: #e03b34;
$naranja: #ee9226;
$yellow: #ffc536;
$verde: #55cf92;
h3{
  color: #333333;
}
*{
  box-sizing: border-box;
}
body{
  color: $color-texto;
  box-sizing: border-box;
}
.lateral{
  text-align: center;
  .avatar img{
    border-radius: 50%;
  }
}
.logo{
  text-align: center;
  margin: 0;
}
.menu{
  display: flex;
  justify-content: center;
  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;;
    display: flex;
    flex-direction: column;
    li{
      display: inline-block;
      width: 55px;
      height: 55px;
      margin: 5px 0 0 0;
      text-align: center;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 10%;
      &:hover{
        background: #fdf0e1;
        color: #ec7800;
      }
      span{
        display: block
      }
    }
  }
}
.contenedor{
  background-color: #fafafa;
  .header{
    align-items: center;
    border: 0px solid red;;
    justify-content: space-between;
    display: flex;
    padding: 5px 10px;
    h1{
      font-size: 1.5rem;
      margin: 0;
    }
    p{
      margin: 0;
    }
    .busqueda{
      position: relative;
      background-color: #fff;
      i{
        position: absolute;
        right: 10px;
        top: 15px;
      }
      input{
        border-radius: 5px;
        border: 0;
        padding: 10px 25px;
      }
    }
  }
}
.graficas{
  div{
    margin: 15px 15px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-sizing: border-box;
  }
  .venta_diaria{
    max-width: 60% !important;
    margin: 15px 15px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
  }
  .ingresos_totales{
    max-width: 30%;
  }
  img{
    max-width: 100%;
  }
}
.tendencias{
  div{
    border: 0;
    margin: 15px;
    max-width: 45%;
    h4{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 10px;
      span{
        color: $naranja;
        font-size: .7em;
      }
    }
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      li{
        display: flex;
        figure{
          background-color: #fdf0e1;
          border-radius: 5px;
          margin-right: 5px;
        }
        span{
          display: block;
          strong{
            color: $naranja;
          }
        }
      }
    }
  }
}
.tarjetas{
  justify-content: space-between;
  padding: 0 10px;
  .item{
    border: 0;
    border-radius: 25px;
    margin: 0 5px;
    max-width: 23%;
    padding: 15px;
    h3{
      font-size: 1.5em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      span{
        font-size: .7em;
      }
      .up{
        color: $verde;
      }
      .down{
        color: $rojo;
      }
    }
    p{
      font-size: 1.5em;
      font-weight: 600;
      display: flex;
    }
    .rotar{
      transform: rotate(315deg);
    }
    .icono{
      background-color: $naranja;
      border-radius: 50%;
      display: flex;
      color: #fff;
      width: 30px;
      height: 30px;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      font-size: 14px;
    }
    .green{
      background-color: $verde;
    }
    .red{
      background-color: $rojo;
    }
    .yellow{
      background-color: $yellow;
    }
  }
}
@media (max-width: 820px) {
  .tarjetas{
    .item{
      h3{
        font-size: 14px;
      }
    } 
  }
}
@media (max-width: 819px) {
  .menu{
    display: none;
  }
  .contenedor .header{
    flex-direction: column;
  }
  .lateral{
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px;
      figure{
        margin: 0;
      }
  }
  .tarjetas .item{
    max-width: 100%;
  }
  .graficas {
    div, .venta_diaria{
      max-width: 100% !important;
    }
  }
  .tendencias div{
    max-width: 100%;
  }
}