h3 {
  color: #333333;
}

* {
  box-sizing: border-box;
}

body {
  color: #7f7f7f;
  box-sizing: border-box;
}

.lateral {
  text-align: center;
}
.lateral .avatar img {
  border-radius: 50%;
}

.logo {
  text-align: center;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: center;
}
.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.menu ul li {
  display: inline-block;
  width: 55px;
  height: 55px;
  margin: 5px 0 0 0;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10%;
}
.menu ul li:hover {
  background: #fdf0e1;
  color: #ec7800;
}
.menu ul li span {
  display: block;
}

.contenedor {
  background-color: #fafafa;
}
.contenedor .header {
  align-items: center;
  border: 0px solid red;
  justify-content: space-between;
  display: flex;
  padding: 5px 10px;
}
.contenedor .header h1 {
  font-size: 1.5rem;
  margin: 0;
}
.contenedor .header p {
  margin: 0;
}
.contenedor .header .busqueda {
  position: relative;
  background-color: #fff;
}
.contenedor .header .busqueda i {
  position: absolute;
  right: 10px;
  top: 15px;
}
.contenedor .header .busqueda input {
  border-radius: 5px;
  border: 0;
  padding: 10px 25px;
}

.graficas div {
  margin: 15px 15px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-sizing: border-box;
}
.graficas .venta_diaria {
  max-width: 60% !important;
  margin: 15px 15px;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
}
.graficas .ingresos_totales {
  max-width: 30%;
}
.graficas img {
  max-width: 100%;
}

.tendencias div {
  border: 0;
  margin: 15px;
  max-width: 45%;
}
.tendencias div h4 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}
.tendencias div h4 span {
  color: #ee9226;
  font-size: 0.7em;
}
.tendencias div ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.tendencias div ul li {
  display: flex;
}
.tendencias div ul li figure {
  background-color: #fdf0e1;
  border-radius: 5px;
  margin-right: 5px;
}
.tendencias div ul li span {
  display: block;
}
.tendencias div ul li span strong {
  color: #ee9226;
}

.tarjetas {
  justify-content: space-between;
  padding: 0 10px;
}
.tarjetas .item {
  border: 0;
  border-radius: 25px;
  margin: 0 5px;
  max-width: 23%;
  padding: 15px;
}
.tarjetas .item h3 {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.tarjetas .item h3 span {
  font-size: 0.7em;
}
.tarjetas .item h3 .up {
  color: #55cf92;
}
.tarjetas .item h3 .down {
  color: #e03b34;
}
.tarjetas .item p {
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
}
.tarjetas .item .rotar {
  transform: rotate(315deg);
}
.tarjetas .item .icono {
  background-color: #ee9226;
  border-radius: 50%;
  display: flex;
  color: #fff;
  width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 14px;
}
.tarjetas .item .green {
  background-color: #55cf92;
}
.tarjetas .item .red {
  background-color: #e03b34;
}
.tarjetas .item .yellow {
  background-color: #ffc536;
}

@media (max-width: 820px) {
  .tarjetas .item h3 {
    font-size: 14px;
  }
}
@media (max-width: 819px) {
  .menu {
    display: none;
  }
  .contenedor .header {
    flex-direction: column;
  }
  .lateral {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
  }
  .lateral figure {
    margin: 0;
  }
  .tarjetas .item {
    max-width: 100%;
  }
  .graficas div, .graficas .venta_diaria {
    max-width: 100% !important;
  }
  .tendencias div {
    max-width: 100%;
  }
}/*# sourceMappingURL=style.css.map */